---
layout: default
---

{% include heading.html heading=page.title description=page.description align="center" date=page.date %}

<div id="parent-container" class="flex flex-col md:flex-row flex-wrap py-6 md:py-12" >

  <div id="textbox-container" class="w-full md:w-9/12">
    <div class="mb-20 mr-5">
      <label for="message" class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Your text</label>
      <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your text here..." style="min-height:410px"></textarea>
    </div>
  </div>

  <div id="results-container" class="w-full md:w-3/12 pr-3 md:order-1">
    {% if page.categories %}
      <ul class="block" id="result-list">
        <li class="my-3 flex justify-between result-line">
          <span><strong>Details</strong></span>
        </li>
        {% for category in page.categories %}
          {% assign categoryClass = category | replace: ' ', '' | downcase %}
          <li class="my-3 flex justify-between result-line">
            <span>{{ category }}:</span>
            <span class="result-{{ category | downcase | remove: ' ' }} p-1 px-3 mr-1 mb-1 inline-block text-xs font-mono rounded bg-green-200 text-green-800 hover:bg-blue-200 hover:text-blue-800 transition duration-300 ease-in-out">{{ category }}</span>
          </li>
        {% endfor %}
        <li class="my-3 flex justify-between result-line">
          <span><strong>Keyword Density</strong></span>
        </li>
      </ul>
    {% endif %}
  </div>

  <div id="content-container" class="w-full md:w-9/12 prose md:order-2">
      {{ content }}
  </div>

</div>

<script src="/assets/js/counter.js"></script>
